* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main {
  background-color: #1e1e1e;
  height: 100vh;
  width: 100vw;
  display: flex;
  color: white;
}

.calc {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#screen {
  height: 25vh;
  background: #000;
  color: white;
  text-align: right;
  padding: 2rem 20px;
  margin-bottom: 15px;
  overflow: hidden;
}

#expression {
  font-size: 1.5rem;
  color: #aaa;
}

#current {
  font-size: 4rem;
  font-weight: 700;
}

.nums {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.nums button {
  padding: 2rem;
  font-size: 1.3rem;
  background: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

.nums button:hover {
  background: #cfcfcf;
}

.nums button.operator {
  background: #575757;
  color: white;
  font-weight: 600;
}

.nums button.operator:hover {
  background: #404040;
}

.nums button.equal {
  background: #018af9;
  color: white;
  font-weight: 600;
}

.history {
  width: 20vw;
  background: #111;
  border-left: 1px solid #333;
  padding: 10px;
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 10px;
}

.history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.history-title {
  font-weight: 700;
}

#history-list {
  flex: 1;
  overflow-y: auto;
  padding-right: 6px;
  margin-top: 6px;
}

.history-item {
  margin-bottom: 12px;
  padding-bottom: 8px;
}

.history-item .exp {
  font-size: 0.9rem;
  color: #aaa;
}

.history-item .res {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 4px;
  color: #fff;
}

#mode {
  height: 1.6rem;
  width: 4rem;
  background: #fff;
  font-weight: 700;
  font-family: cursive;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 9999px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

#mode:hover {
  transform: scale(1.2);
}

.main,
#screen,
.history {
  transition: all 0.3s ease;
}
